/* app.css */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

body,
#root {
  height: 100%;
  margin: 0; /* Remove default margin */
  font-family: 'Roboto', sans-serif; /* You can change this if you prefer a different font */
}

#root__layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; /* Align content vertically */
}

main {
  flex-grow: 1; /* Allows main content to take available space */
}
